p{
    text-align: center;
    font-family: cursive;
}

/* img{
    align-items: center;
} */

.counter{
    text-align: center;
    font-family: cursive;
    align-items: center;
}

.insideBox{
    align-items: center;
}